@charset "UTF-8";

body {
  font-family: "Arial";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

body._lock {
  overflow: hidden;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Stem";
  font-display: swap;
  src: url("../fonts/Stem-Bold.woff") format("woff"), url("../fonts/Stem-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Stem";
  font-display: swap;
  src: url("../fonts/Stem-Regular.woff") format("woff"), url("../fonts/Stem-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  src: url("../fonts/icons.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"]::before,
[class*=" _icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-arrow:before {
  content: "\e905";
}

._icon-file-star:before {
  content: "\e903";
}

._icon-youtube:before {
  content: "\e900";
}

._icon-vk:before {
  content: "\e901";
}

._icon-phone:before {
  content: "\e902";
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 23px 0;
}

.header__logo {
  font-weight: 700;
  font-size: 2.625rem;
  line-height: 114.28571%;
  color: #0047BB;
  padding: 0px 20px 0px 0px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__list li:not(:last-child) {
  margin: 0px 50px 0px 0px;
}

.header__link {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #0047BB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.header__link::before {
  padding: 0px 10px 0px 0px;
  font-size: 33px;
}

.footer__container {
  background: #EDF7FA;
}

.footer__body {
  padding: 30px 0;
}

.footer__label {
  font-size: 16px;
  line-height: 142%;
  text-align: center;
  color: #333333;
  margin: 0px 0px 10px 0px;
}

.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__contact li:not(:last-child) {
  margin: 0px 15px 0px 0px;
}

.footer__link {
  color: #DCDCDC;
  font-size: 30px;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
}

.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 10px;
}

.popup__content {
  color: #000;
  background-color: #fff;
  max-width: 550px;
  padding: 30px;
  position: relative;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  opacity: 0;
  -webkit-transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
          transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}

.popup__close {
  position: absolute;
  display: block;
  right: 30px;
  top: 30px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  text-decoration: none;
}

.popup__close span {
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  top: calc(50% - 1px);
  left: 0px;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #3e4a70;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.popup__close span:first-child {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: calc(50% - 1px);
}

.popup__close span:last-child {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: calc(50% - 1px);
}

.popup__text {
  font-size: 23px;
  padding: 30px 0px 0px 0px;
  font-weight: 400;
  margin: 0px 0px 40px 0px;
  text-align: center;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup.open .popup__content {
  opacity: 1;
  -webkit-transform: perspective(600px) translate(0px, 0px) rotateX(0deg);
          transform: perspective(600px) translate(0px, 0px) rotateX(0deg);
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #FAFBFC;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.ibg {
  position: relative;
}

.ibg img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 113.88889%;
  color: #0047BB;
}

.action__container {
  padding: 0 30px;
}

.action__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.action__left {
  padding: 0px 10px 0px 0px;
}

.action__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 115%;
  color: #0047BB;
  max-width: 560px;
}

.action__title span {
  display: block;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  color: #444444;
  padding: 5px 0;
}

.action__right {
  max-width: 485px;
  max-height: 360px;
  width: 100%;
  height: 100%;
}

.action__image {
  max-width: 100%;
}

.feedback__body {
  background-color: #EDF7FA;
  padding: 30px 0;
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.feedback__cloud {
  position: absolute;
  z-index: -1;
  pointer-events: none;
}

.feedback__cloud img {
  max-width: 100%;
}

.feedback__cloud_1 {
  top: 168px;
  right: 170px;
}

.feedback__cloud_2 {
  top: 200px;
  right: 80px;
}

.feedback__cloud_3 {
  top: 180px;
  left: 200px;
}

.feedback__cloud_4 {
  top: 250px;
  left: 60px;
}

.feedback__cloud_5 {
  top: 320px;
  left: 180px;
}

.feedback__title {
  margin: 0px 0px 20px 0px;
  text-align: center;
}

.feedback__text {
  font-size: 20px;
  line-height: 115%;
  text-align: center;
  color: #444444;
  margin: 0px 0px 20px 0px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 320px;
  margin: 0 auto;
}

.form__inputs {
  position: relative;
}

.form__inputs::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 25px;
  background: url("../img/akar-icons_check.png") 0 0/cover no-repeat;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
  z-index: 55;
}

.form__inputs:not(:first-child) {
  margin: 10px 0px 0px 0px;
}

.form__inputs._error .form__require {
  opacity: 1;
}

.form__inputs._validate::before {
  opacity: 1;
}

.form__input {
  max-width: 320px;
  width: 100%;
  height: 38px;
  background: #FFFFFF;
  border-radius: 30px;
  padding: 5px 20px;
  -webkit-transition: border 0.3s ease 0s;
  -o-transition: border 0.3s ease 0s;
  transition: border 0.3s ease 0s;
  color: #333333;
  font-family: 'Stem';
  position: relative;
}

.form__input::-webkit-input-placeholder {
  color: #DCDCDC;
}

.form__input::-moz-placeholder {
  color: #DCDCDC;
}

.form__input:-ms-input-placeholder {
  color: #DCDCDC;
}

.form__input::-ms-input-placeholder {
  color: #DCDCDC;
}

.form__input::placeholder {
  color: #DCDCDC;
}

.form__input:focus {
  border: 0.5px solid #0047BB;
}

.form__input._error {
  border: 0.5px solid #DF0000;
}

.form__require {
  opacity: 0;
  padding: 5px 20px;
  font-size: 7px;
  line-height: 142%;
  color: #DF0000;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.form__button {
  max-width: 320px;
  width: 100%;
  height: 42px;
  background: #0047BB;
  border-radius: 30px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 142%;
  text-align: center;
  color: #FFFFFF;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
  margin: 20px 0px;
}

.form__button:disabled {
  background: #DCDCDC;
}

.form__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__bottom._error .form__label {
  border: 2px solid #DF0000;
}

.form__checkbox {
  display: none;
}

.form__checkbox:checked ~ .form__label {
  border: 2px solid #165AB7;
}

.form__checkbox:checked ~ .form__label::before {
  opacity: 1;
}

.form__label {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  height: 20px;
  border: 2px solid #DCDCDC;
  border-radius: 25%;
  position: relative;
  cursor: pointer;
  -webkit-transition: border 0.3s ease 0s;
  -o-transition: border 0.3s ease 0s;
  transition: border 0.3s ease 0s;
}

.form__label::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 8px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: url("../img/check.svg") 0 0/cover no-repeat;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.form__info {
  font-size: 0.625rem;
  line-height: 142%;
  color: #333333;
  padding: 0px 0px 0px 10px;
}

.product {
  padding: 30px;
}

.product__container {
  padding: 0 30px;
}

.product__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.item-product {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 15px;
}

.item-product__content {
  padding: 30px 10px 30px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #FFFFFF;
  border-radius: 35px;
  height: 100%;
  position: relative;
}

.item-product__title {
  margin: 0px 0px 15px 0px;
}

.item-product__subtitle {
  font-family: 'Stem';
  margin: 0px 0px 14px 0px;
  font-weight: 700;
  font-size: 1rem;
  line-height: 142%;
  color: #444444;
}

.item-product__list {
  margin: 0px 0px 10px 0px;
  max-width: 300px;
}

.item-product__text {
  font-size: 1rem;
  line-height: 142%;
  color: #333333;
  padding: 0px 0px 0px 40px;
  position: relative;
}

.item-product__text:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.item-product__text::before {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background: url("../img/plus.png") 0 0/cover no-repeat;
}

.item-product__link {
  font-size: 1rem;
  line-height: 142%;
  position: relative;
  display: block;
  color: #0047BB;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.item-product__link svg {
  fill: #0047BB;
  -webkit-transition: fill 0.3s ease 0s;
  -o-transition: fill 0.3s ease 0s;
  transition: fill 0.3s ease 0s;
  margin: 0px 0px 0px 20px;
}

.item-product__right {
  width: 166px;
  padding: 0px 0px 166px 0px;
  position: absolute;
  bottom: 30px;
  right: 30px;
}

@media (max-width: 1152px) {
  .container {
    max-width: 970px;
  }

  .item-product {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }

  .action__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 0px 0px 30px 0px;
  }

  .action__title {
    text-align: center;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 30px;
  }

  .header__logo {
    font-size: 1.25rem;
  }

  .header__list li:not(:last-child) {
    margin: 0px 30px 0px 0px;
  }

  .header__link span {
    display: none;
  }

  .feedback__cloud_1 {
    width: 75px;
    height: 22px;
    top: 5px;
    right: 15px;
  }

  .feedback__cloud_2 {
    top: auto;
    width: 47px;
    height: 11px;
    bottom: 10px;
    right: 60px;
  }

  .feedback__cloud_3 {
    width: 100px;
    height: 54px;
    top: 110px;
    left: 190px;
  }

  .feedback__cloud_4 {
    width: 80px;
    height: 20px;
    top: 90px;
    left: 10px;
  }

  .feedback__cloud_5 {
    top: auto;
    right: auto;
    width: 40px;
    height: 14px;
    bottom: 12px;
    left: 55px;
  }
}

@media (max-width: 600px) {
  .item-product {
    padding: 15px 0;
  }

  .item-product__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 10px 30px 30px 30px;
  }

  .item-product__left {
    padding: 10px 0px 0px 0px;
  }

  .item-product__right {
    position: relative;
    margin: 0 auto;
    bottom: auto;
    right: auto;
  }
}

@media (max-width: 479.98px) {
  .title {
    font-size: 1.375rem;
  }

  .action__title {
    font-size: 1.625rem;
  }

  .action__title span {
    font-size: 1rem;
  }

  .feedback__text {
    font-size: 1rem;
  }
}

@media (any-hover: hover) {
  .header__link:hover {
    color: #DCDCDC;
  }

  .footer__link:hover {
    color: #0047BB;
  }

  .form__button:hover {
    background: #082B64;
  }

  .item-product__link {
    color: #DCDCDC;
  }

  .item-product__link svg {
    fill: #DCDCDC;
  }

  .item-product__link:hover {
    color: #0047BB;
  }

  .item-product__link:hover svg {
    fill: #0047BB;
  }
}

.webp .form__inputs::before{ background: url(../img/akar-icons_check.webp) 0 0/cover no-repeat; }

.webp .item-product__text::before{ background: url(../img/plus.webp) 0 0/cover no-repeat; }